<!DOCTYPE html>
<html lang="en" ng-app="yate">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="client/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="client/css/yate.css" rel="stylesheet">
    </head>

    <body ng-controller="MainController">
        <header class="navbar navbar-fixed-top yate-navbar" role="navigation">
            <div class="text-center">
                <span class="brand">
                    <b>Y</b>ate <small>playground</small>
                </span>
            </div>
        </header>

        <div class="contents repl_wrapper repl_{{repl_status}}">
            <div class="code">

                <div id="repl_source_wrap">
                    <textarea id="repl_source" rows="100"
                        spellcheck="false"
                        ng-change="repl(repl_source)"
                        ng-model="repl_source" >
                        module 'hello'

                        match / {
                            "Hello {.navigator.appName}"
                        }
                    </textarea>
                </div>

                <div id="repl_results_wrap">
                    <pre id="repl_results" ng-bind="repl_results"></pre>
                </div>

                <a class="minibutton" ng-click="repl(repl_source)">Run</a>
                <a class="minibutton permalink" href="//github.com/maksimr/yate/tree/gh-pages" target="_blank">Link</a>

                <br class="clear"/>
            </div>
        </div>

        <footer class="footer">
            <div class="text-center">
                <ul class="footer-links">
                    <li>
                        <a href="//github.com/pasaran/yate/wiki/syntax" target="_blank">Documentation</a>
                    </li>
                    <li class="muted">·</li>
                    <li>
                        <a href="//github.com/pasaran/yate" target="_blank">GitHub</a>
                    </li>
                    <li class="muted">·</li>
                    <li>
                        <a href="//github.com/pasaran/yate/issues" target="_blank">Issues</a>
                    </li>
                    <li class="muted">·</li>
                    <li>
                        Site designed and built by <a href="http://twitter.com/maksimrv" target="_blank">@maksimrv</a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="client/yate.js" type="text/javascript"></script>
        <script src="lib/runtime.js" type="text/javascript"></script>

        <script src="client/components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="client/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="client/components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="client/app.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>
