body {
    font-size: 14px;
    line-height: 21px;
    font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

.full_height {
    min-height: 100%;
    height: 100%;
}

#wrapper {
    position: absolute;
    background: black;
    width: 100%;
}

#left_part {
    background: #2b2b2b;
    color: #c8c8c8;
}

#right_part {
    background: #f0f0f0;
    color: #2b2b2b;
}

#left_part, #right_part {
    padding: 10pt;
}


.header_links a {
    border: solid #2b2b2b 1px;
    padding: 5pt 7pt 5pt 7pt;
}

.header_links a:hover {
    border-color: #cccccc;
    border-radius: 3px;
}

.header_links a {
    color: #cccccc;
    font-size: medium;
}

.header_links a:hover, a:active, a:focus {
    text-decoration: none;
}

.header_links_left a:first-child {
    border-color: #2b2b2b;
    font-size: large;
}

.header_links_left {
    padding: 0;
    float: left;
}

.header_links_right {
    padding: 0;
    float: right;
}

/* Code textarea */
#repl_source_wrap {
    padding-top: 2em;
    overflow-y: auto;
    height: calc(100% - 2em);
}

#repl_source {
    background: transparent;
    outline: none;
    color: #ccc;
    resize: none;
    border-width: 0px;
    width: 100%;
    height: 100%;
}

.yate_version {
    float: right;
    color: #ccc;
}

#compile_status {
    font-size: 40px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.invisible {
    display: none;
}

#repl_results {
    background: transparent;
    border-width: 0px;
    font-size: 14px;
}